@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary: #0077b6;
    --secondary: #48cae4;
    --black: #333;
    --white: #fff;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;

}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: .5rem;
}
section{
    padding: 5rem 7%;

}
.heading{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;

}
.heading10{
    font-size: 4rem;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
    margin-left: -17%;

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary);
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
}
.btn:hover{
     background: var(--secondary);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;


}

.header img{
    width: 85px;
    height: 60px;
    margin-top: -22px;
}
.header .navbar a {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--primary);
}
.header .navbar .btn{
    margin-top: 0;
    color: var(--white);
}
.header .navbar .btn:hover{
    color: black;
}

#menu-btn {
    display: none;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);

}
#menu-btn:hover{
    color: var(--primary);
}
.home{
    padding: 0;
}
.home .slide{
    min-height:100vh;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.home .slide .content h3{
    font-size: 5rem;
    
    color:aqua;
    line-height: 1.1;
    padding: 2rem 0;
    font-weight: 1200;
    text-shadow:4px 5px 4px rgb(255, 0, 0);

}

.home .slide .content h4{
    font-size: 5rem;
    
    color:aqua;
    line-height: 1.1;
    padding: 2rem 0;
    font-weight: 1200;
    text-shadow:4px 5px 4px rgb(255, 0, 0);
}
.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--white);
    color: var(--black);
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--primary);
    color: var( --white);
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}
.about .row .img{
    flex: 1 1 30rem;
}
.about .row .image img{
    width: 100%;
    box-shadow: var(--box-shadow);
    margin: 0 0 0 0;
}
.about .row .content{
    flex: 1 1 5rem;
}
.about .row .content h3{
    font-size: 3.5rem;
    color: var(--primary);
    padding: 2rem 0;
}
.about .row .content p{
    font-size: 1.6rem;
    column-rule: #666;
    padding: 1rem 0;
    line-height: 1.8;
}
.h22 h2{
    font-size: 15px;
    color: black;
    margin-top:-25px;
    margin-left: 40%;
    font-weight: 700;
}

.subjects img{
    width: 330px;
    height: 350px;
    border-radius:7%;
    border: 2px black solid;
    margin: 40px 20px 0 10px;
}
    


.button{
    margin-left: 40%;
}

.room .slide{
    background: var(--white);
    border: .1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 4rem;
}
.room .slide .image{
    height: 40rem;
    width: 1005;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.room .slide .image img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    object-fit: cover;
    
}




.room .slide .content{
    padding: 2rem;
    padding-top: 0;

}
.room .slide .content h3{
    font-size: 2.5rem;
    color: var(--black);
}
.room .slide .content p{
    font-size: 1.6rem;
    color: #666;
    padding: .5rem 0;
    line-height: 1.5;
}
.room .slide .content .stars{
    padding: 1rem 0;
}
.room .slide .content .stars i{
    font-size: 1.7rem;
    color: var(--primary);
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 2rem;
}
.services .box-container .box{
    text-align: center;
}
.services .box-container .box img{
    height: 10rem;
    margin-bottom: .7rem;
}
.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
}
.teacher-qualification{
    text-align: center;
}
.teacher-qualification h1{
    font-size: 25px;
}
.teacher-qualification h3{
    font-size: 15px;
    color: green;
}
.teacher-pic img{
    width: 350px;
    height: 372px;
    margin-top: 35px;
    border-radius: 50%;
    margin-left:26%;
    border: 5px solid rgb(16, 4, 148);
    box-shadow: 0 0 100px 40px  blue;
    
}
.teacher-name{
    font-size: 30px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 29%;
    margin-bottom: 20PX;
}





.faqs .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}
.faqs .row .image{
    flex: 1 1 40rem;
}
.faqs .row .image img{
    width: 40%;
    height: 40%;
    margin-left: 2px;
   
}
.faqs .row .content{
    flex: 1 1 40rem;
}
.faqs .row .image .content .box{
    margin-top:2rem;
    margin-right: 5px;
}
.faqs .row .content .box h3{
    font-size: 2rem;
    color: var(--primary);
    padding: 1.5rem;
    cursor: pointer;
}
.faqs .heading{
    font-size: 40px;
    color: var(--primary);
    text-align: center;
    margin-top: 50px;
}
.faqs .row .content .box p{
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    line-height: 2;
    color:rgb(0, 0, 0) ;
    box-shadow: var(--box-shadow);
    display: none;
}
.faqs .row .content .box.active p{
    display: inline-block;
}


.footer{
    background: var(--secondary);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: var(--primary);
}
.footer .box-container .box a{
    font-size: 1.6rem;
    display: block;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
    
}
.footer .box-container .box a i{
    color: var(--primary);
    padding-right:.5rem;
}
.footer .box-container .box a:hover{
    color: var(--primary);
}
.footer .share{
    padding-top: 2rem;
    text-align: center;
}
.footer .share a{
    color: var(--primary);
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    line-height: 6rem;
    margin: .4rem;
    border-radius: 15%;
  
}
.icons a {
    font-size: 40px;
    color: blue;
    width: 40px;
    height: 30px;
    border: 1px black solid;
    border-radius: 8%;
    padding: 10px;
    box-shadow: var(--box-shadow);
    
}

.share h1{
    font-size: 20px;
}
.footer .share a:hover{
    color: var(--white);
    background: var(--black);
    transform: rotate(350deg);
}
.end{
    width: 100%;
    height: 50px;
    background-color:gray;
    text-align: center;
    font-size: 27px;
    border-top:.1rem solid black ;
    text-transform: none;
    margin-top: 2px;
}
@media (max-width:991px){
    html{
        font-size:55%;
    }
    .header{
        padding:2rem 3rem;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: none;
       
    }
    .header .navbar a{
        position: absolute;
        top: 110%; right:-110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: var(--white);
        border-radius: .5rem;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .home .slide .content{
        width: 50rem;
    }
    .review .review-slider{
        width: 100%;
        padding: 1rem;
        padding-top: 15%;
    }
}
@media (max-width: 450px){

    html{
        font-size: 50%;
    }
    .home .slide .content{
        width:30rem;
    }
    .home .slide .content h3{
        font-size: 3rem;
    }
}