.head{
    font-size: 33px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    
}
.head2{
    font-size: 23px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    
}
.row{
    margin-left: 35px;
    margin-top: 50px;
}
.Note{
    margin-left: 70px;
}
.danger-Note{
    font-size: 30px;
    font-weight: 1000;
    color: red;

}
.advise{
    font-size: 30px;
    font-weight: 1000;
    color: rgb(12, 91, 5);
}
.advise2{
    font-size: 15px;
    font-weight: bold;
    color: mediumblue;
}
.strategies{
    font-weight: 600;
}
.logo img{
    margin-left: 40%;
    margin-top: 15px;
}